<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head>-->
<!--        <script src="js/webgazer.js" type="text/js"></script>-->
<!--    </head>-->
    
<!--    <body>-->
<!--        <script>-->
<!--            var webgazer = {};-->

<!--            webgazer.setGazeListener(function(data, elapsedTime) {-->
<!--            var xprediction = data.x;-->
<!--            var yprediction = data.y;-->
<!--            }).begin();-->
<!--        console.log(xprediction);-->
<!--        </script>-->
        
<!--    </body>-->
<!--</html>-->
